.menuTitle {
  font-family: $font-Eco;

  letter-spacing: 5px;
  font-size: 2.9rem;
  color: $white-color;
}

.logoImg {
  height: 15vh;
  width: 15vh;
}

.navColCont {
  button {
    margin-top: 5vh;
  }
  .slider {
    margin-top: 5vh;
  }
}
