.menuTitle {
  font-family: $font-Eco;

  letter-spacing: 5px;
  font-size: 3.5rem;
  color: $white-color;
}

.logoImg {
  height: 8vh;
  width: 8vh;
}

.navColCont {
  button {
    margin-top: 5vh;
  }
  .slider {
    margin-top: 5vh;
  }
}
